<input type="datetime-local" #filterFromDate [(ngModel)]="reservationFrom">
<input type="datetime-local" #filterToDate [(ngModel)]="reservationTo">
<button (click)="FilterReservations()">Search</button>


<div class="col-md-12">
  <div class="card card-plain">
    <div class="card-header">
      <h4 class="card-title">Reservations</h4>
      <button type="button" label="PDF" (click)="DownloadReport()">Report</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table tablesorter">
          <thead class="text-primary">
            <tr>
              <th>Table Id</th>
              <th>Reservation From</th>
              <th>Reservation To</th>
              <th>Reservation Status</th>
              <th>Request State</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of reservationArr let i=index">
              <td>{{data.table_Id}}</td>
              <td>{{data.reservation_From |date:'short':'IST'}}</td>
              <td>{{data.reservation_To |date:'short':'IST'}}</td>
              <td>{{data.res_Status}}</td>
              <td><select name="state" #state>
                  <option></option>
                  <option value="ACCEPT">Accept</option>
                  <option value="REJECT">Reject</option>
                </select></td>
              <td><button #update (click)="UpdateState(i,state.value)">Update Request</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>