<div class="cards-container">
    <mat-card class="table-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Table NO. {{table_Id}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'./assets/img/Tables/'+image_Location" alt="Table Photo">
        <mat-card-content>
            <p>Max person :{{max_Person}} </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="openDialog()">View Table</button>
            <button mat-button (click)="openReserveDialog()">Reserve Table</button>
        </mat-card-actions>
    </mat-card>
</div>