<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#bf7207" type="pacman" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" col-md-12">
                <div class=" card card-plain">
                    <div class=" card-header">
                        <div class="flex-container">
                            <h4 class=" card-title">Resturant Tables</h4>
                            <button (click)="AddTable()" mat-button id="AddTable" class=" btn btn-fill btn-danger">Add
                                Table</button>
                        </div>
                    </div>
                    <div class=" card-body">
                        <div class=" table-responsive">
                            <table class=" table tablesorter" id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>id</th>
                                        <th>chairs</th>
                                        <th>Details</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of tables">
                                        <td>{{data.table_Id}}</td>
                                        <td>{{data.max_Person}}</td>
                                        <td>{{data.details}}</td>
                                        <td><img [src]="'./assets/img/Tables/'+data.image_Location" width="150"
                                                height="150"></td>
                                        <td><button mat-button (click)="EditTable(data.table_Id)">Edit</button></td>
                                        <td><button (click)="DeleteTable(data.table_Id)">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>