<p>getlist-order works!</p>
<p>getlist-menu-category works!</p>


<div style="display:flex; flex-direction: column;" >
    <p>getlist-menuitem works!</p>

    <div class="row" style="display:flex; flex-direction: column;     margin-right: 0px;
    margin-left: 0px;">
      <div class="col">
    
      </div>
      
    
    <button type="button" class="btn btn-primary" style="width: 100px;" (click)="UpdateAccessStatusByOrderId()">UpdateAccessStatusByOrderId</button>
    <button type="button" class="btn btn-primary" style="width: 100px;" (click)="UpdatePaymentStatusByOrderId()">UpdatePaymentStatusByOrderId</button>
    <button type="button" class="btn btn-primary" style="width: 100px;" (click)="UpdateWaiterIdByOrderId()">UpdateWaiterIdByOrderId</button>
   
    <div  style="display: flex;
    justify-self: center;
    flex-direction: row;
    justify-content: center;">
    
   <mat-form-field appearance="fill">
    <mat-label>from date</mat-label>
    <input matInput [matDatepicker]="picker"  [(ngModel)]="from">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="fill">
    <mat-label>to date</mat-label>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="to">
    <mat-datepicker-toggle matSuffix  [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker  #picker1></mat-datepicker>
  
  </mat-form-field>

    
      <button class="btn btn-primary"  style="display: block; justify-self: center; width: 100px;" (click)="search()">search</button>
    
    </div>
      <button type="button" class="btn btn-primary" style="width: 100px;" routerLink='../add'>insert</button>
    <table class="table table">
    
        <thead class="thead">
          <tr>
            <th scope="col">order_Id</th>
            <th scope="col">access_Status</th>
            <th scope="col">customer_Id</th>
            <th scope="col">waiter_Id</th>
            <th scope="col">payment_Status</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of list">
    
            <td>{{item.order_Id}}</td>
            <td>{{item.access_Status}}</td>
            <td>{{item.customer_Id}}</td>
            <td>{{item.waiter_Id}}</td>
            <td>{{item.payment_Status}}</td>
            <a class="btn btn-success" [routerLink]="['../show',item.order_Id]" role="button">show</a>
            <a  class="btn btn-primary" [routerLink]="['../edit',item.order_Id]" role="button">edit</a>
            <button type="button" class="btn btn-danger" (click)="DeleteOrder(item.order_Id)">delete</button>  
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle ></button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <button ngbDropdownItem *ngFor="let it of listAvaWaiter" (click)="ChangeSortOrder(item.order_Id,it.waiter_Id)">{{it.waiter_Id}}</button>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
 