<form  [formGroup]="ContactUsInfoForm"  class="php-email-form">
    <div class="row">
        <div class="col-md-6 form-group">
            <input type="text" name="location" matInput formControlName="location" class="form-control" #location placeholder="location" [(ngModel)]="contactUsInfo[0].location">
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" matInput formControlName="email" name="email" #email placeholder="Email" [(ngModel)]="contactUsInfo[0].email">
        </div>
    </div>
    <div class="form-group mt-3">
        <input type="text" class="form-control" matInput formControlName="phone" name="phone" #phone placeholder="phone" [(ngModel)]="contactUsInfo[0].phone">
    </div>
    <div class="form-group mt-3">
        <input type="text" class="form-control" matInput formControlName="open_Hours" name="open_Hours" #open_Hours placeholder="open_Hours" [(ngModel)]="contactUsInfo[0].open_Hours">
    </div>
    <div class="form-group mt-3">
        <input type="text" class="form-control" matInput formControlName="open_Days" name="open_Days" #open_Days placeholder="open_Days" [(ngModel)]="contactUsInfo[0].open_Days">
    </div>
    <div class="text-center"><button type="submit" (click)="UpdateContactUsInfo()">Send Message</button></div>
</form>
