<p>add-menuitem-discount works!</p>
<form  [formGroup]='insertEmployee' (submit)="AddEmployee()">

<mat-form-field>
    <input matInput formControlName="name" style=
    "font-size: x-large;" placeholder="name">
    </mat-form-field>
   

    <mat-form-field>
        <input matInput formControlName="email" style=
        "font-size: x-large;" placeholder="email">
        </mat-form-field>
        
<mat-form-field>
    <input matInput formControlName="password" style=
    "font-size: x-large;" placeholder="password">
    </mat-form-field>
   
    
<mat-form-field>
    <input matInput formControlName="phone" style=
    "font-size: x-large;" placeholder="phone">
    </mat-form-field>
   
    
<mat-form-field>
    <input matInput formControlName="salary" style=
    "font-size: x-large;" placeholder="salary">
    </mat-form-field>
   
    
<mat-form-field>
    <input matInput formControlName="roleId" style=
    "font-size: x-large;" placeholder="roleId">
    </mat-form-field>
   

   
       
<input type="submit" />