<h2 mat-dialog-title>Add Table</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="AddTableForm">
        <div class=" row">

            <div class=" form-group">
                <label> Chairs </label>
                <input class="form-control" type="number" formControlName="max_Person" #max_Person
                    placeholder="max_Person" required />
            </div>


        </div>
        <div class=" row">

            <div class=" form-group">
                <label> Image </label>
                <input type="file" #file placeholder="Choose Image" accept="image/*" (change)="uploadImage(file.files)">
                <button class=" btn btn-fill btn-danger" style="margin-left:25px;"> Upload Image </button>
            </div>


            <div class=" form-group">
                <img [src]="path" width="250px" height="250px">
            </div>
        </div>

        <div class=" row">

            <div class=" form-group">
                <label> Details </label>
                <textarea class=" form-control" cols="80" placeholder="Table Details" rows="4" matInput
                    formControlName="details" required></textarea>
            </div>
        </div>

    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>